# Import Data

In [10]:
# Import libraries
from IPython.display import display, HTML # Display functions
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns ## visualization
sns.set_palette("colorblind") 
sns.set_style("darkgrid")

# set path for sourcing modules
import os
import sys
src_dir = os.path.join(os.getcwd(), '..', 'src')
sys.path.append(src_dir)

# Set Pandas display options
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# Set auto reload
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
# Read data function
def read_data(raw_data):
    
    path = raw_data

    data = pd.read_csv(path, sep='\t',parse_dates=True)
    
    return data

In [27]:
from data import make_dataset

In [28]:
# Set path to raw data
raw_data = "../data/raw/2004-2019.tsv.zip"

# Read data
df = make_dataset(raw_data)

TypeError: 'module' object is not callable

In [13]:
df.head()

   Unnamed: 0 DATA INICIAL  DATA FINAL        REGIÃO              ESTADO           PRODUTO  NÚMERO DE POSTOS PESQUISADOS UNIDADE DE MEDIDA  PREÇO MÉDIO REVENDA  DESVIO PADRÃO REVENDA  PREÇO MÍNIMO REVENDA  PREÇO MÁXIMO REVENDA MARGEM MÉDIA REVENDA  COEF DE VARIAÇÃO REVENDA PREÇO MÉDIO DISTRIBUIÇÃO DESVIO PADRÃO DISTRIBUIÇÃO PREÇO MÍNIMO DISTRIBUIÇÃO PREÇO MÁXIMO DISTRIBUIÇÃO COEF DE VARIAÇÃO DISTRIBUIÇÃO  MÊS   ANO
0           0   2004-05-09  2004-05-15  CENTRO OESTE    DISTRITO FEDERAL  ETANOL HIDRATADO                           127              R$/l                1.288                  0.016                  1.19                 1.350                0.463                     0.012                    0.825                       0.11                    0.4201                    0.9666                         0.133    5  2004
1           1   2004-05-09  2004-05-15  CENTRO OESTE               GOIAS  ETANOL HIDRATADO                           387              R$/l                1.162                  0.114                  0.89                 1.449                0.399                     0.098                    0.763                      0.088                    0.5013                      1.05                         0.115    5  2004
2           2   2004-05-09  2004-05-15  CENTRO OESTE         MATO GROSSO  ETANOL HIDRATADO                           192              R$/l                1.389                  0.097                  1.18                 1.760                0.419                     0.070                     0.97                      0.095                    0.5614                     1.161                         0.098    5  2004
3           3   2004-05-09  2004-05-15  CENTRO OESTE  MATO GROSSO DO SUL  ETANOL HIDRATADO                           162              R$/l                1.262                  0.070                  1.09                 1.509                0.432                     0.055                     0.83                      0.119                    0.5991                   1.22242                         0.143    5  2004
4           4   2004-05-09  2004-05-15      NORDESTE             ALAGOAS  ETANOL HIDRATADO                           103              R$/l                1.181                  0.078                  1.05                 1.400                 0.24                     0.066                    0.941                      0.077                    0.7441                    1.0317                         0.082    5  2004

# Clean Data

## Fix column labels

A glance at the raw data shows that:
* Columns are in Portuguese and will be translated into English for convenience
* Column names will be cleaned and standardized
* Dates will be converted to Datetime objects
* Unecessary columns will be removed

In [25]:
# Translate column names to English
df.columns = ["Unnamed:_0", 
"Analysis_Date",
"Last day of analyses of week",
"Macroregion",
"State",
"Product",
"No of Gas Stations Analyzed",
"Measurement unit",
"Mean Price",
"Std Dev",
"Min Price",
"Max Price",
"Mean Price Margin",
"Coefficient of variation",
"Mean Dist Price",
"Distribution Std Dev",
"Distribution Min Price",
"Distribution Max Price",
"Distribution Coefficient of Variation",
"Month",
"Year"]

# Replace whitespace with underscore
df.columns = df.columns.str.replace(" ", "_")
df.columns = df.columns.str.replace("'", "")
df.columns = df.columns.str.replace("Distribution", "Dist")

# Convert datetime columns to datetime objects and rename
df["Analysis_Date"] = pd.to_datetime(df["Analysis_Date"])

## Fix Values, Datatypes, and NULLs

Cleaning the dataset requires a specific strategy: 
* Correct inappropriate characters
* Address NULL values
* Convert datatypes

For this particular dataset:
* Fix inappropriate string characters in several columns that should be numeric
* Translate categories in the *Product* column
* Rename *Measurement_unit* categories
* Convert object types to category type

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 21 columns):
Unnamed:_0                       106823 non-null int64
Analysis_Date                    106823 non-null datetime64[ns]
Last_day_of_analyses_of_week     106823 non-null object
Macroregion                      106823 non-null object
State                            106823 non-null object
Product                          106823 non-null object
No_of_Gas_Stations_Analyzed      106823 non-null int64
Measurement_unit                 106823 non-null object
Mean_Price                       106823 non-null float64
Std_Dev                          106823 non-null float64
Min_Price                        106823 non-null float64
Max_Price                        106823 non-null float64
Mean_Price_Margin                106823 non-null object
Coefficient_of_variation         106823 non-null float64
Mean_Dist_Price                  106823 non-null object
Dist_Std_Dev                     106823 non-null object
Dist_Min_Price                   106823 non-null object
Dist_Max_Price                   106823 non-null object
Dist_Coefficient_of_Variation    106823 non-null object
Month                            106823 non-null int64
Year                             106823 non-null int64
dtypes: datetime64[ns](1), float64(5), int64(4), object(11)
memory usage: 17.1+ MB

In [27]:
# Correct dtypes
float_columns = ['Mean_Price_Margin', 'Mean_Dist_Price', 'Dist_Std_Dev',
       'Dist_Min_Price', 'Dist_Max_Price',
       "Dist_Coefficient_of_Variation"]

# Replace "-" with 0 in order to convert to float
for column in float_columns:
    df[column] = df[column].str.replace("-", "0")

# Fill nulls and convert to float
df[float_columns] = df[float_columns].fillna(0).astype(float)

assert df[float_columns].dtypes.all() == np.float64

# Rename Product categories
products = {"ÓLEO DIESEL":"DIESEL", "GASOLINA COMUM":"PETROL", "GLP":"LPG", 
            "ETANOL HIDRATADO":"HYDROUS ETHANOL", "GNV":"NATURAL GAS", "ÓLEO DIESEL S10":"DIESEL S10"}

df["Product"] = df.Product.map(products)

# Rename Measurement_unit categories
units = {"R$/l":"liter", "R$/13Kg":"13kg", "R$/m3":"m3"}

df["Measurement_unit"] = df["Measurement_unit"].map(units)

# Convert objects to category
object_cols = df.select_dtypes(include='object').columns
df[object_cols] = df[object_cols].astype('category', inplace=True)

## Feature Enginering

New columns created:
* Price_Group - separating LPG from the other fuels for easier visualization
* Mean_Price_Norm - Normalized Mean_Price by fuel Product

In [28]:
# Create Price Groups: Group 1 are liquid fuels plus Natural Gas, Group 2 is LPG
df['Price_Group'] = df.Measurement_unit.map({'liter':int(1), 'm3':int(1), '13kg':int(2)})

# Normalize Mean Price for each fuel group
normalizer = lambda x: (x - x.min()) / (x.max() - x.min())

# Normalize Prices for Price_Group_1: all fuels except LPG
df["Mean_Price_Norm_Price_Group_1"] = df[df.Price_Group==1].groupby("Product")["Mean_Price"].transform(normalizer)

# Normalize Prices for Price_Group_2: LPG
df["Mean_Price_Norm_Price_Group_2"] = df[df.Price_Group==2].groupby("Product")["Mean_Price"].transform(normalizer)

# Combine Price_Group columns into one column
df["Mean_Price_Norm"] = df["Mean_Price_Norm_Price_Group_1"].fillna(df["Mean_Price_Norm_Price_Group_2"])
df.drop(["Mean_Price_Norm_Price_Group_1", "Mean_Price_Norm_Price_Group_2"], axis=1, inplace=True)

Double check that the values were correctly normalized:

In [29]:
# Check max/min values of each Product group to ensure that they were properly normalized
products = df.Product.unique().tolist()

for product in range(len(products)):
    mins = df[df.Product==products[product]]["Mean_Price_Norm"].min()
    maxs = df[df.Product==products[product]]["Mean_Price_Norm"].max()
    
    print(products[product])
    print(mins, maxs)

HYDROUS ETHANOL
0.0 1.0
PETROL
0.0 1.0
LPG
0.0 1.0
NATURAL GAS
0.0 1.0
DIESEL
0.0 1.0
DIESEL S10
0.0 1.0

## Drop unecessary columns

In [30]:
df.drop(['Unnamed:_0', 'Last_day_of_analyses_of_week'], axis = 1, inplace=True)

## Save clean data to file

In [31]:
display(df.head())

df.to_csv('../data/interim/fuel_in_brazil_clean.csv')

  Analysis_Date   Macroregion               State          Product  No_of_Gas_Stations_Analyzed Measurement_unit  Mean_Price  Std_Dev  Min_Price  Max_Price  Mean_Price_Margin  Coefficient_of_variation  Mean_Dist_Price  Dist_Std_Dev  Dist_Min_Price  Dist_Max_Price  Dist_Coefficient_of_Variation  Month  Year  Price_Group  Mean_Price_Norm
0    2004-05-09  CENTRO OESTE    DISTRITO FEDERAL  HYDROUS ETHANOL                          127            liter       1.288    0.016       1.19      1.350              0.463                     0.012            0.825         0.110          0.4201         0.96660                          0.133      5  2004            1         0.141348
1    2004-05-09  CENTRO OESTE               GOIAS  HYDROUS ETHANOL                          387            liter       1.162    0.114       0.89      1.449              0.399                     0.098            0.763         0.088          0.5013         1.05000                          0.115      5  2004            1         0.107230
2    2004-05-09  CENTRO OESTE         MATO GROSSO  HYDROUS ETHANOL                          192            liter       1.389    0.097       1.18      1.760              0.419                     0.070            0.970         0.095          0.5614         1.16100                          0.098      5  2004            1         0.168698
3    2004-05-09  CENTRO OESTE  MATO GROSSO DO SUL  HYDROUS ETHANOL                          162            liter       1.262    0.070       1.09      1.509              0.432                     0.055            0.830         0.119          0.5991         1.22242                          0.143      5  2004            1         0.134308
4    2004-05-09      NORDESTE             ALAGOAS  HYDROUS ETHANOL                          103            liter       1.181    0.078       1.05      1.400              0.240                     0.066            0.941         0.077          0.7441         1.03170                          0.082      5  2004            1         0.112375